django
requests
environ
django_redis
ua-parser
firebase-admin

Pillow

djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter
djangorestframework-gis
django-admin-sortable2
django-model-utils
django-cors-headers
django-daterangefilter

psycopg2
supervisor
gunicorn
Celery

flake8
mypy
isort

faker
factory_boy
pytest
pytest-cov
pytest-django
pytest-factoryboy

twilio
